In [2]:
from sqlalchemy.orm import sessionmaker
from model_m2m import engine, Tevas, Vaikas

session = sessionmaker(engine)()

In [3]:
tevas = Tevas(vardas="kestutis", pavarde="januskevicius")
mama = Tevas(vardas="Nicoletta", pavarde="januskeviciene")
emilija = Vaikas(vardas="Emilija", pavarde="januskevicius")
maja = Vaikas(vardas="Maja", pavarde="januskeviciute")
marco = Vaikas(vardas="Marco", pavarde="januskevicius")

tevas.vaikai.append(emilija)
mama.vaikai.append(emilija)
tevas.vaikai.append(marco)

session.add(tevas)
session.add(mama)
session.commit()

In [4]:
tevai = session.query(Tevas).all()
tevai

[(1, Kietas, Vyras),
 (2, Rimtesnis, Vaikis),
 (3, vardas, Vaikis),
 (4, kestutis, januskevicius),
 (5, Nicoletta, januskeviciene)]

In [9]:
vaikai = session.query(Vaikas).all()

[(7, Emilija, januskevicius)]

In [11]:
from pprint import pprint
for tevas in tevai:
    print(tevas)
    for vaikas in tevas.vaikai:
        print("-", vaikas)

(1, Kietas, Vyras)
(2, Rimtesnis, Vaikis)
(3, vardas, Vaikis)
(4, kestutis, januskevicius)
- (7, Emilija, januskevicius)
- (8, Marco, januskevicius)
(5, Nicoletta, januskeviciene)
- (7, Emilija, januskevicius)